<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>707543111222-da9d9r7m4j5p00elui7s35dj4dqt09ut.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.707543111222-da9d9r7m4j5p00elui7s35dj4dqt09ut</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>707543111222-r07o7229ef4l9idb7j1r6i82blmr7f80.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBZhyRkVEyvW_NiJ3HOHlTH7cZthLlLqyE</string>
	<key>GCM_SENDER_ID</key>
	<string>707543111222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ionic.app.boilerplate</string>
	<key>PROJECT_ID</key>
	<string>ionic-app-boilerplate</string>
	<key>STORAGE_BUCKET</key>
	<string>ionic-app-boilerplate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707543111222:ios:3c1d54c105bc426b23ea97</string>
	<key>DATABASE_URL</key>
	<string>https://ionic-app-boilerplate.firebaseio.com</string>
</dict>
</plist>