<ion-content class="ion-padding">
  <form #form="ngForm" (ngSubmit)="login()">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Ingresa a tu cuenta</h3>
          </div>
          <div class="ion-padding">
            <ion-item >
              <ion-input name="email" type="email" [(ngModel)]="email" placeholder="your@email.com" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" [(ngModel)]="password" placeholder="Password" ngModel required></ion-input>
            </ion-item>
          </div>
          <ion-row justify-content-center>
            <a routerLink="/recuperar-contrasena">Olvidaste tu contraseña?</a>
          </ion-row>
          <div class="ion-padding">
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Login</ion-button>
          </div>   
          
         
          <ion-row justify-content-center>
            o conectate con
          </ion-row>
         
            <ion-button size="large"  expand="block" (click)="googleLogin()">Google</ion-button>                   
         
          <ion-row justify-content-center>
            <div text-center>
               <p> No tienes cuenta? <a routerLink="/registro">Registrate</a> </p>     
            </div>                 
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>


</ion-content>

