<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-header [titulo]="'Seleccionar Cliente'" ></app-header>
  </ion-toolbar>
</ion-header>

<ion-searchbar animated 
            [placeholder]="placeholder" 
            showCancelButton="never" 
            color="light" 
            autocomplete="on"
            enterkeyhint="send"
            inputmode="text"
            type="text"
            debounce="500"
            (ionChange)="onChange($event)">
</ion-searchbar>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="items.length > 0" class="animated fadeIn fast"> 
    <ion-item *ngFor="let item of items; let i = index"> 
      <app-card-cliente [item]="item" (click)="seleccionar(item)"></app-card-cliente>
    </ion-item> 	
  </ion-list>
  <ion-list *ngIf="!items.length > 0" class="animated fadeIn fast"> 
    <ion-item> 
      <ion-card>
        <ion-card-header color="warning">
          <h5>No hay items con esa descripción</h5>
        </ion-card-header>
      </ion-card>   
    </ion-item> 	
  </ion-list> 
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-fab horizontal="end" vertical="end" slot="fixed">
    <ion-fab-button color="danger">
      <ion-icon name="close" (click)="salirSinArgumentos()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
