<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-header [titulo]="'Detalle de Evento'" [icono]="'back'"></app-header>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>Inmueble</ion-label>     
    <app-card-inmueble [data]="inmuebleAsignado" *ngIf="inmuebleAsignado"></app-card-inmueble> 
  </ion-item>
  
  <ion-item>
    <ion-label>Cliente</ion-label>     
    <app-card-usuario [data]="clienteAsignado" *ngIf="clienteAsignado"></app-card-usuario>
  </ion-item>

  <ion-item>
    Fecha: {{evento.date}}
  </ion-item>
  
  <ion-item *ngIf="!pendienteConfirmar">
    Confirmado    
  </ion-item>

</ion-content>
<ion-footer *ngIf="pendienteConfirmar" class="ion-no-border ion-padding">
  <ion-toolbar> 
    <ion-button color="success" slot="end" (click)="aceptar()">Aceptar</ion-button>  
    <ion-button color="danger" slot="start"  color="light" (click)="rechazar()">Rechazar</ion-button>
  </ion-toolbar>
</ion-footer>

<ion-footer *ngIf="!pendienteConfirmar" class="ion-no-border ion-padding">
  <ion-toolbar> 
    <ion-button color="danger" slot="start"  color="light" (click)="rechazar()">Rechazar</ion-button>
  </ion-toolbar>
</ion-footer>