<ion-header>
  <ion-toolbar>
    <ion-title>detail-evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Inmueble</ion-label>     
    <app-card-inmueble [inmueble]="inmuebleAsignado"></app-card-inmueble>  
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Cliente</ion-label>     
    <app-card-usuario [usuario]="clienteAsignado"></app-card-usuario>  
  </ion-item>
 

  <ion-item>
    Fecha:{{this.evento.date}}
  </ion-item>


  <ion-item *ngIf=="!pendienteConfirmar">
    Confirmado    
  </ion-item>

</ion-content>
<ion-footer *ngIf="pendienteConfirmar" class="ion-no-border ion-padding">
  <ion-toolbar> 
    <ion-button color="primary" slot="end" (click)="aceptar()">Aceptar</ion-button>  
    <ion-button color="light" slot="start"  color="light" (click)="rechazar()">Rechazar</ion-button>
  </ion-toolbar>
</ion-footer>

<ion-footer *ngIf="!pendienteConfirmar" class="ion-no-border ion-padding">
  <ion-toolbar> 
    <ion-button color="light" slot="start"  color="light" (click)="rechazar()">Rechazar</ion-button>
  </ion-toolbar>
</ion-footer>