<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-header [titulo]="'Formulario de Eventos'" [icono]="'back'" (volver)="atras()"></app-header>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="datosForm">

    <div [class.invalid]="submitted && !datosForm.controls.property_id.valid">
      <ion-item>   
        {{inmuebleAsignado.name}}    
      </ion-item>  
      <ion-button  type="button" expand="block" (click)="selectInmueble()">Seleccionar Inmueble</ion-button>
      <div *ngIf="submitted && f.property_id.errors" class="invalid-feedback">
        <div *ngIf="f.property_id.errors.required"><h5>Selecciona un Inmueble</h5></div>
      </div>
    </div>

    <div [class.invalid]="submitted && !datosForm.controls.property_id.valid">
      <ion-item> 
        {{clienteAsignado.name}}        
      </ion-item>  
      <ion-button type="button" expand="block" (click)="selectContact()">Seleccionar Cliente</ion-button>
      <div *ngIf="submitted && f.property_id.errors" class="invalid-feedback">
        <div *ngIf="f.property_id.errors.required"><h5>Selecciona un Cliente</h5></div>
      </div>
    </div>



    <!--Inhabilitar si es edicion de un evento-->
    <ion-item [class.invalid]="submitted && !datosForm.controls.customer_id.valid">
      <ion-label position="floating">Fecha</ion-label>     
      
      <ion-datetime displayFormat="DD MMMM YYYY" formControlName="date"></ion-datetime>

      <div *ngIf="submitted && f.customer_id.errors" class="invalid-feedback">
          <div *ngIf="f.customer_id.errors.required"><h5>Ingresa una Fecha</h5></div>
      </div>
    </ion-item>  

    <ion-item [class.invalid]="submitted && !datosForm.controls.customer_id.valid">
      <ion-label position="floating">Hora</ion-label>     
      
      <ion-datetime displayFormat="H:mm" formControlName="hour"></ion-datetime>

      <div *ngIf="submitted && f.customer_id.errors" class="invalid-feedback">
          <div *ngIf="f.customer_id.errors.required"><h5>Ingresa una Hora</h5></div>
      </div>
    </ion-item> 
    
    <ion-item>
      <ion-label position="floating">Comentario</ion-label>
      <ion-textarea placeholder="Comentario" name="description" formControlName="comment">
      </ion-textarea>
    </ion-item>

  </form>
  <ion-button color="primary" (click)="guardar()">Guardar</ion-button>  
</ion-content>
