<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-header [titulo]="'Formulario de Registro'" [icono]="'back'"></app-header>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">  
  <ion-img src="../../assets/shapes.svg"></ion-img>
  <h1>Regístrate en nuestra app</h1>
  

  <form [formGroup]="datosForm">
    <!--nombre-->
    <ion-item [class.invalid]="submitted && !datosForm.controls.first_name.valid">
      <ion-label position="floating">Nombre</ion-label>     
      <ion-input name="nombre" type="text" formControlName="first_name" 
                  required ></ion-input>
      <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback">
          <div *ngIf="f.first_name.errors.required"><h5>Ingresa un Nombre</h5></div>
      </div>
    </ion-item>
       
    <!--apellido-->
    <ion-item [class.invalid]="submitted && !datosForm.controls.last_name.valid">
      <ion-label position="floating">Apellido</ion-label>
      <ion-input name="apellido" type="text" formControlName="last_name" required ></ion-input>
      <div *ngIf="submitted && f.last_name.errors" class="invalid-feedback">
          <div *ngIf="f.last_name.errors.required"><h5>Ingresa un Apellido</h5></div>
      </div>
    </ion-item>

    <!--email-->
    <ion-item [class.invalid]="submitted && !datosForm.controls.email.valid">
      <ion-label position="floating">E-mail</ion-label>
      <ion-input name="email" type="text" formControlName="email" required ></ion-input>
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required"><h5>Ingresa un Email</h5></div>
      </div>
    </ion-item> 
    <!--contraseña-->
    <ion-item [class.invalid]="submitted && !datosForm.controls.password.valid">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input name="password" [type]="passwordTypeInput1" #passwordEyeRegister  
            formControlName="password" required clear-on-edit="true"></ion-input>
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required"><h5>Ingresa una Contraseña</h5></div>
      </div>
      <button  item-end  class="btn_eye_icon"  (click)="togglePasswordMode()">
        <ion-icon  [name]="iconpassword1"></ion-icon>
      </button>
    </ion-item>    
    <!--repetir contraseña-->
    <ion-item [class.invalid]="submitted && !datosForm.controls.password_confirmation.valid">
      <ion-label position="floating">Confirmación de contraseña</ion-label>
      <ion-input name="password_confirmation" [type]="passwordTypeInput2"  #passwordEyeConfirmation 
            formControlName="password_confirmation" required clear-on-edit="true"></ion-input>
      <button  item-end  class="btn_eye_icon"  (click)="togglePasswordConfirmMode()">
        <ion-icon  [name]="iconpassword2"></ion-icon>
      </button>   
      <div *ngIf="submitted && f.password_confirmation.errors" class="invalid-feedback">
          <div *ngIf="f.password_confirmation.errors.required"><h5>Ingresa una Contraseña</h5></div>
      </div>  
    </ion-item>
    <p></p>
    <!--acepto los terminos-->
    <div [class.invalid]="submitted && !datosForm.controls.accepted.valid">      
      <ion-checkbox color="primary" slot="start" formControlName="accepted"></ion-checkbox>
      <ion-label> &nbsp;&nbsp; Acepto los Términos y Condiciones y la Política de Privacidad </ion-label>
    </div>    
    <div *ngIf="submitted && f.accepted.errors" class="invalid-feedback">
      <div *ngIf="f.accepted.errors.required">
        <h5>Debes leer y aceptar los términos y condiciones</h5>
      </div>
    </div>
    
    <ion-button type="submit" expand="block" (click)="registrar()">Registrarme</ion-button>
   
    <div class="div100">
      <a routerLink="/login" class="text-center">Ya tengo cuenta creada</a>   
    </div>      
  </form>
</ion-content>