<ion-header>
  <ion-toolbar>
    <ion-title>form-registro-propiedad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!--titulos-->
  <div class="div1">
    <h1 >Registrá una Propiedad</h1>
    <h4 >En dos simples pasos</h4>
  </div>
  <ion-segment value="first" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="first">
      <ion-label>Primer Paso</ion-label>
    </ion-segment-button>
    <ion-segment-button value="second">
      <ion-label>Segundo Paso</ion-label>
    </ion-segment-button>
  </ion-segment>
  <!--formulario-->
  <form [formGroup]="datosForm">
    
    <div *ngIf="segment == 'first'">
      <!--propietario-->
      <div [class.invalid]="submitted && !datosForm.controls.property_id.valid">
        <ion-item>   
          <app-card-usuario [usuario]="propietarioAsignado"></app-card-usuario>  
          <ion-button class="btn-delete" color="primary" slot="end" (click)="eliminarPropietario()">
            <ion-icon name="trash"></ion-icon>
          </ion-button>        
        </ion-item>  
        <ion-button type="button" expand="block" (click)="seleccionarPropietario()">Seleccionar Propietario</ion-button>
        <div *ngIf="submitted && f.property_id.errors" class="invalid-feedback">
          <div *ngIf="f.property_id.errors.required"><h5>Selecciona un Propietario</h5></div>
        </div>
      </div>

      <ion-item>
        <ion-label position="floating">Tipo de Inmueble</ion-label> 
        <ion-select ok-text="Ok" cancel-text="Cancelar" expand="full" formControlName="type" >
          <ion-select-option [value]="tipo.slug" *ngFor="let tipo of tipos">
            {{tipo.name}}
          </ion-select-option>
        </ion-select>        
      </ion-item>

      <ion-item [class.invalid]="submitted && !datosForm.controls.address.valid">
        <app-input-ubicacion      
          (onSelectValue)='setValue($event)' >
        </app-input-ubicacion> 
      </ion-item>
      <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
        <div *ngIf="f.address.errors.required"><h5>Ingresa una Dirección</h5></div>
      </div>
    </div >
    <div *ngIf="segment == 'second'">
      <!--operaciones-->
      <ion-item>
        <ion-label position="floating">Operaciones</ion-label> 
        <ion-select ok-text="Ok" cancel-text="Cancelar" multiple="true" expand="full" (ionChange)="cambioOperacion($event)">
          <ion-select-option *ngFor="let operacion of operaciones">
            {{operacion.name}}
          </ion-select-option>
        </ion-select>        
      </ion-item>
      <br>
      <!--precio de venta-->        
      <ion-item [class.invalid]="submitted && !datosForm.controls.sale_price.valid" *ngIf="sale_operation==true">
        <ion-label position="floating">Precio de Venta</ion-label>       
        <ion-input name="sale_price" type="number" formControlName="sale_price" 
            clearOnEdit="true" required></ion-input> 
        <div *ngIf="submitted && f.sale_price.errors" class="invalid-feedback">
            <div *ngIf="f.sale_price.errors.required"><h5>Ingresa un precio de venta</h5></div>
        </div>
      </ion-item>
      <!--moneda de venta-->
      <ion-item [class.invalid]="submitted && !datosForm.controls.sale_currency.valid" *ngIf="sale_operation==true" >
        <ion-label position="floating">Moneda</ion-label> 
        <ion-select ok-text="Ok" cancel-text="Cancel" expand="full"
            formControlName="sale_currency" required>
          <ion-select-option *ngFor="let currency of currencies">
            {{ currency }}
          </ion-select-option>
        </ion-select>
        <div *ngIf="submitted && f.sale_currency.errors" class="invalid-feedback">
          <div *ngIf="f.sale_currency.errors.required"><h5>Ingresa un tipo de Moneda</h5></div>
        </div>
      </ion-item>
      <!--precio de alquiler-->
      <ion-item [class.invalid]="submitted && !datosForm.controls.rental_price.valid" *ngIf="rental_operation">
        <ion-label position="floating">Precio de Alquiler</ion-label> 
        <ion-input name="rental_price" type="number" formControlName="rental_price" 
                    clearOnEdit="true" required></ion-input>             
        <div *ngIf="submitted && f.rental_price.errors" class="invalid-feedback">
            <div *ngIf="f.rental_price.errors.required"><h5>Ingresa un precio de alquiler</h5></div>
        </div> 
      </ion-item>
      <!--moneda de alquiler-->
      <ion-item [class.invalid]="submitted && !datosForm.controls.rental_currency.valid" *ngIf="rental_operation">
        <ion-label position="floating">Moneda</ion-label> 
        <ion-select ok-text="Ok" cancel-text="Cancel" expand="full"
            formControlName="rental_currency" required>
          <ion-select-option *ngFor="let currency of currencies">
            {{ currency }}
          </ion-select-option>
        </ion-select>
        <div *ngIf="submitted && f.rental_currency.errors" class="invalid-feedback">
          <div *ngIf="f.rental_currency.errors.required"><h5>Ingresa un tipo de Moneda</h5></div>
        </div>
      </ion-item>
      <!--precio de alquiler temporario-->
      <ion-item [class.invalid]="submitted && !datosForm.controls.temp_rental_price.valid" *ngIf="temp_rental_operation">
        <ion-label position="floating">Precio de Alquiler temporario</ion-label> 
        <ion-input name="temp_rental_price" type="number" formControlName="temp_rental_price" required></ion-input>             
        <div *ngIf="submitted && f.temp_rental_price.errors" class="invalid-feedback">
            <div *ngIf="f.temp_rental_price.errors.required">
              <h5>Ingresa un precio de alquiler</h5>
            </div>
        </div> 
      </ion-item>
      <!--moneda de alquiler temporario-->
      <ion-item [class.invalid]="submitted && !datosForm.controls.temp_rental_currency.valid"
                *ngIf="temp_rental_operation">
        <ion-label position="floating">Moneda</ion-label> 
        <ion-select ok-text="Ok" cancel-text="Cancel" expand="full" formControlName="temp_rental_currency" required>
          <ion-select-option *ngFor="let currency of currencies">
            {{currency}}
          </ion-select-option>
        </ion-select>
        <div *ngIf="submitted && f.temp_rental_currency.errors" class="invalid-feedback">
          <div *ngIf="f.temp_rental_currency.errors.required">
            <h5>Ingresa un tipo de Moneda</h5>
          </div>
        </div>
      </ion-item>
      <br>
      <!--descripcion-->
      <ion-item>
        <ion-label position="floating">Descripción</ion-label>
        <ion-textarea placeholder="Ingrese una descripción de la propiedad" name="description" formControlName="description">
        </ion-textarea>
      </ion-item>
      <br>
      <ion-footer position="fixed-bottom">
        <!--boton submit-->
        <ion-button type="submit" expand="block" (click)="registrar()">Guardar</ion-button> 
      </ion-footer>  
    </div > 
  </form>
</ion-content>
