<ion-header>
  <ion-toolbar>
    <ion-title justify-content-center>Seleccionar operaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="datosForm" (submitted)="submit()">
    <!--operacion-->
    <ion-item [class.invalid]="submitted && !datosForm.controls.operation_type_id.valid">
      <ion-label position="floating">Operaciones</ion-label> 
      <ion-select ok-text="Ok" cancel-text="Cancelar" multiple="false" expand="full" formControlName="operation_type_id">
        <ion-select-option  *ngFor="let tipo of tiposOperaciones" [value]="tipo.id">
          {{tipo.id}}
        </ion-select-option>
      </ion-select>
      <div *ngIf="submitted && f.operation_type_id.errors" class="invalid-feedback">
        <div *ngIf="f.operation_type_id.errors.required"><h5>Selecciona el tipo de operación</h5></div>
    </div>        
    </ion-item>
    <!--precio -->        
    <ion-item [class.invalid]="submitted && !datosForm.controls.value.valid">
      <ion-label position="floating">Precio de Venta</ion-label>       
      <ion-input name="value" type="number" formControlName="value" clearOnEdit="true" required></ion-input> 
      <div *ngIf="submitted && f.value.errors" class="invalid-feedback">
          <div *ngIf="f.value.errors.required"><h5>Ingresa un precio</h5></div>
      </div>
    </ion-item>
    <!--moneda-->
    <ion-item [class.invalid]="submitted && !datosForm.controls.currency.valid">
      <ion-label position="floating">Moneda</ion-label> 
      <ion-select ok-text="Ok" cancel-text="Cancel" expand="full"
          formControlName="sale_currency" required formControlName="currency">
        <ion-select-option *ngFor="let currency of currencies">
          {{ currency }}
        </ion-select-option>
      </ion-select>
      <div *ngIf="submitted && f.currency.errors" class="invalid-feedback">
        <div *ngIf="f.currency.errors.required"><h5>Ingresa un tipo de Moneda</h5></div>
      </div>
    </ion-item>
    <p></p>
    <ion-row>
      <ion-col>
        <ion-button type="button" (click)="cancelar()" color="light" expand="block">Cancelar</ion-button>
      </ion-col>
      <ion-col>
        <ion-button type="submit" (click)="submit()" color="success" expand="block">Aceptar</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
