<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-header [titulo]="'Home'" [icono]="''"></app-header>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="block" [routerLink]="['/list', 'contacto']">Listado de Contactos</ion-button>
  <ion-button expand="block" [routerLink]="['/list', 'inmueble']">Listado de Inmuebles</ion-button>
  <hr>
  <ion-button expand="block" [routerLink]="['/form-registro']">Formulario de Registro</ion-button>
  <ion-button expand="block" [routerLink]="['/form-registro-propiedad']">Formulario de Registro de Propiedad</ion-button>
  <ion-button expand="block" [routerLink]="['/form-registro-sucursal']">Formulario de Registro de Sucursal</ion-button>
  <ion-button expand="block" [routerLink]="['/cambiar-contrasena']">Formulario para Cambiar Contraseña</ion-button>
  <ion-button expand="block" (click)="openInvitacion()">Formulario Invitacion</ion-button>
  <hr>
  <ion-button expand="block" [routerLink]="['/calendario']">Calendario</ion-button>
  <ion-button expand="block" [routerLink]="['/form-evento']">Evento</ion-button>
  <hr>
  <ion-button expand="block" (click)="modalPage('contact')">Seleccionar Contacto</ion-button>
  <ion-button expand="block" (click)="modalPage('property')">Seleccionar Inmueble</ion-button>
  
</ion-content>
