<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-header [titulo]="'Home'" [icono]="''"></app-header>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="block" [routerLink]="['/list-clientes']">Listado de clientes</ion-button>
  <ion-button expand="block" [routerLink]="['/list-inmuebles']">Listado de Inmuebles</ion-button>
  <ion-button expand="block" [routerLink]="['/list-propietarios']">Listado de Propietarios</ion-button>
  <hr>
  <ion-button expand="block" [routerLink]="['/form-registro']">Formulario de Registro</ion-button>
  <ion-button expand="block" [routerLink]="['/form-registro-propiedad']">Formulario de Registro de Propiedad</ion-button>
  <ion-button expand="block" [routerLink]="['/form-registro-sucursal']">Formulario de Registro de Sucursal</ion-button>
  <ion-button expand="block" [routerLink]="['/cambiar-contrasena']">Formulario para Cambiar Contraseña</ion-button>
  <hr>
  <ion-button expand="block" [routerLink]="['/calendario']">Calendario</ion-button>
  <ion-button expand="block" [routerLink]="['/form-evento']">Evento</ion-button>
  <ion-button expand="block" (click)="modalCliente()">Seleccionar Cliente</ion-button>
  <ion-button expand="block" (click)="modalInmueble()">Seleccionar Inmueble</ion-button>
  <hr>
  <ion-button expand="block" [routerLink]="['/']"></ion-button>
</ion-content>
